<%- include parts/head.ejs %>
				<!-- Formulário de dacastro -->
				<div class="py-5 text-center">
	        <h2>Cadastro de Viaturas</h2>
	      </div>

	      <div class="row row_padding">
	        <div class="col-md-10">

	          <form action="/cad_vtr" method="POST" class="needs-validation" novalidate>

	              <div class="mb-3">
	                <label for="prefixo_vtr">Prefixo da Viatura</label>
	                <input type="text" class="form-control" id="prefixo_vtr" name="prefixo" placeholder="" value="" required>
	                <div class="invalid-feedback">
	                  É necessário entrar com um prefixo válido.
	                </div>
	              </div>

	              <div class="mb-3">
	                <label for="componentes">Componentes</label>
	                <input type="text" class="form-control" id="componentes" name="componente" placeholder="" value="" required>
	                <div class="invalid-feedback">
	                  Entre com um componente.
	                </div>
	              </div>

								<div class="mb-3">
	                <label for="equipamentos">Equipamentos</label>
	                <input type="text" class="form-control" id="equipamentos" name="equip" placeholder="" value="" required>
	                <div class="invalid-feedback">
	                  Entre com um equipamento.
	                </div>
	              </div>

	            <div class="mb-3">
	              <label for="contato">Contato</label>
	              <div class="input-group">
	                <div class="input-group-prepend">
	                  <span class="input-group-text">(89)</span>
	                </div>
	                <input type="text" class="form-control" id="contato" name="contato" placeholder="0 0000-0000" required>
	                <div class="invalid-feedback" style="width: 100%;">
	                  Entre com um contato válido.
	                </div>
	              </div>
	            </div>

							<div class="mb-3">
								<label for="radio">Radio</label>
								<input type="text" class="form-control" id="radio" name="radio" placeholder="" value="" required>
								<div class="invalid-feedback">
									Entre com um radio.
								</div>
							</div>

	            <hr class="mb-4">

	            <button class="btn btn-primary btn-lg btn-block" type="submit">Efetuar cadastro</button>
	          </form>
	        </div>
	      </div>

		  <footer class="footer_fixed">
					<div class="row">
					  <div class="col-12 col-md">
							<small class="">© 2017-2018</small>
					  </div>
					</div>
		  </footer>

		<%- include parts/footer.ejs %>
